@font-face {
  font-family: "iconfont"; /* Project id 5198471 */
  src: url('iconfont.woff2?t=1782034816300') format('woff2'),
       url('iconfont.woff?t=1782034816300') format('woff'),
       url('iconfont.ttf?t=1782034816300') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zhifubao:before {
  content: "\e600";
}

.icon-zhifubaozhifu:before {
  content: "\e69e";
}

.icon-zhifubaozhifu1:before {
  content: "\e60d";
}

.icon-zhifubaozhanghu:before {
  content: "\e60b";
}

.icon-zhifubaorenzheng:before {
  content: "\e645";
}

